In [17]:
#imports
import pandas as pd
import os
from pathlib import Path

In [18]:
#read csv files for assist and turnover ratio
Madness2324 = pd.read_csv(
    "Madness Data/23-24 Madness.csv")

Madness2223 = pd.read_csv(
    "Madness Data/22-23 Madness.csv")

Madness2122 = pd.read_csv(
    "Madness Data/21-22 Madness.csv")

Madness2021 = pd.read_csv(
    "Madness Data/20-21 Madness.csv")

Madness1819 = pd.read_csv(
    "Madness Data/18-19 Madness.csv")

Madness1718 = pd.read_csv(
    "Madness Data/17-18 Madness.csv")

Madness1617 = pd.read_csv(
    "Madness Data/16-17 Madness.csv")

Madness1516 = pd.read_csv(
    "Madness Data/15-16 Madness.csv")

Madness1415 = pd.read_csv(
    "Madness Data/14-15 Madness.csv")
    
Madness1314 = pd.read_csv(
    "Madness Data/13-14 Madness.csv")

In [19]:
directoryMADNESS = "/Users/jaxontige/Documents/Data Analytics Bootcamp/Projects/Project 4/Data/Madness Data"
all_Madness_dfs = []

# Loop through each file in the directory
for filename in os.listdir(directoryMADNESS):
    if filename.endswith('.csv'):  # Assuming all files are CSV files
        filepath = os.path.join(directoryMADNESS, filename)
        # Extract the four-digit code from the filename
        code = filename[:5]
        # Read CSV file and add a column for the code
        df = pd.read_csv(filepath)
        df['Years'] = code  # Add a new column for the code
        all_Madness_dfs.append(df)

        # combine all dfs into one 
combined_df_MADNESS = pd.concat(all_Madness_dfs, ignore_index=True)

# combined_df_atr.to_csv("combined_assist_and_turnover_ratio.csv")

In [20]:
combined_df_MADNESS

,Rank,Team,GM,W-L,FGM,FGA,FG%,Madness,Years
0,44.0,North Carolina (ACC),6.0,6-0,171.0,394.0,43.4,1.0,16-17
1,45.0,Gonzaga (WCC),6.0,5-1,147.0,346.0,42.5,1.0,16-17
2,32.0,South Carolina (SEC),5.0,4-1,136.0,299.0,45.5,1.0,16-17
3,19.0,Oregon (Pac-12),5.0,4-1,137.0,288.0,47.6,1.0,16-17
4,38.0,Kentucky (SEC),4.0,3-1,108.0,244.0,44.3,1.0,16-17
...,...,...,...,...,...,...,...,...,...
685,14.0,Iona (MAAC),1.0,0-1,31.0,64.0,48.4,1.0,15-16
686,13.0,Fresno St. (Mountain West),1.0,0-1,26.0,53.0,49.1,1.0,15-16
687,9.0,Cincinnati (AAC),1.0,0-1,28.0,55.0,50.9,1.0,15-16
688,3.0,Southern California (Pac-12),1.0,0-1,28.0,52.0,53.8,1.0,15-16
689,2.0,Michigan St. (Big Ten),1.0,0-1,30.0,54.0,55.6,1.0,15-16

In [21]:
# df.to_csv("combined_assist_and_turnover_ratio.csv")
combined_df_MADNESS.to_csv("Combined Madness.csv")