In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [2]:
# read in files
super_data_df = pd.read_csv("Resources/super_data.csv")

super_data_df

,Team,Years,AST,TO,Ratio,TPG,Avg,3FG%,PTS,PPG,ORebs,DRebs,REB,RPG,FGM,FGA,FG%,FT,FTA,FT%
0,Michigan (Big Ten),1213,565,368,1.54,9.435897,NaN,38.5,"2,932",75.2,0,0,"1,366",0.00,"1,093","2,260",48.4,450,642,70.1
1,UC Irvine (Big West),1213,580,461,1.26,12.459459,NaN,33.4,"2,558",69.1,0,0,"1,428",0.00,932,"2,151",43.3,445,669,66.5
2,Iowa St. (Big 12),1213,560,460,1.22,13.142857,NaN,37.4,"2,779",79.4,0,0,"1,341",0.00,962,"2,111",45.6,509,696,73.1
3,Santa Clara (WCC),1213,560,468,1.20,12.315789,NaN,36.1,"2,827",74.4,0,0,"1,315",0.00,970,"2,195",44.2,584,803,72.7
4,Wichita St. (MVC),1213,530,492,1.08,12.615385,NaN,33.9,"2,720",69.7,0,0,"1,497",0.00,954,"2,166",44.0,553,791,69.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3711,Siena (MAAC),2324,342,505,0.68,15.781250,18.8,28.0,"1,934",60.4,375,757,"1,132",35.38,702,"1,758",39.9,361,541,66.7
3712,VMI (SoCon),2324,335,507,0.66,15.843750,21.0,31.2,"2,204",68.9,299,871,"1,170",36.56,818,"1,935",42.3,358,517,69.2
3713,Alabama A&M (SWAC),2324,369,565,0.65,16.142857,14.7,28.7,"2,414",69.0,394,854,"1,248",35.66,806,"1,918",42.0,654,906,72.2
3714,Mississippi Val. (SWAC),2324,271,495,0.55,15.967742,15.8,29.2,"1,719",55.5,298,613,911,29.39,613,"1,611",38.1,350,532,65.8
3715,Coppin St. (MEAC),2324,240,455,0.53,15.689655,18.6,28.3,"1,678",57.9,283,590,873,30.10,585,"1,571",37.2,355,489,72.6

In [3]:
#seperate the x and y variables

y = super_data_df["Ratio"]
X = super_data_df.drop(columns="Ratio")

In [4]:
X = X.drop(columns="Team")
X = X.drop(columns="Avg")

In [5]:
display(y)

0       1.54
1       1.26
2       1.22
3       1.20
4       1.08
        ...
3711    0.68
3712    0.66
3713    0.65
3714    0.55
3715    0.53
Name: Ratio, Length: 3716, dtype: float64

In [6]:
display(X)

,Years,AST,TO,TPG,3FG%,PTS,PPG,ORebs,DRebs,REB,RPG,FGM,FGA,FG%,FT,FTA,FT%
0,1213,565,368,9.435897,38.5,"2,932",75.2,0,0,"1,366",0.00,"1,093","2,260",48.4,450,642,70.1
1,1213,580,461,12.459459,33.4,"2,558",69.1,0,0,"1,428",0.00,932,"2,151",43.3,445,669,66.5
2,1213,560,460,13.142857,37.4,"2,779",79.4,0,0,"1,341",0.00,962,"2,111",45.6,509,696,73.1
3,1213,560,468,12.315789,36.1,"2,827",74.4,0,0,"1,315",0.00,970,"2,195",44.2,584,803,72.7
4,1213,530,492,12.615385,33.9,"2,720",69.7,0,0,"1,497",0.00,954,"2,166",44.0,553,791,69.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3711,2324,342,505,15.781250,28.0,"1,934",60.4,375,757,"1,132",35.38,702,"1,758",39.9,361,541,66.7
3712,2324,335,507,15.843750,31.2,"2,204",68.9,299,871,"1,170",36.56,818,"1,935",42.3,358,517,69.2
3713,2324,369,565,16.142857,28.7,"2,414",69.0,394,854,"1,248",35.66,806,"1,918",42.0,654,906,72.2
3714,2324,271,495,15.967742,29.2,"1,719",55.5,298,613,911,29.39,613,"1,611",38.1,350,532,65.8
3715,2324,240,455,15.689655,28.3,"1,678",57.9,283,590,873,30.10,585,"1,571",37.2,355,489,72.6

In [7]:
display(X)

,Years,AST,TO,TPG,3FG%,PTS,PPG,ORebs,DRebs,REB,RPG,FGM,FGA,FG%,FT,FTA,FT%
0,1213,565,368,9.435897,38.5,"2,932",75.2,0,0,"1,366",0.00,"1,093","2,260",48.4,450,642,70.1
1,1213,580,461,12.459459,33.4,"2,558",69.1,0,0,"1,428",0.00,932,"2,151",43.3,445,669,66.5
2,1213,560,460,13.142857,37.4,"2,779",79.4,0,0,"1,341",0.00,962,"2,111",45.6,509,696,73.1
3,1213,560,468,12.315789,36.1,"2,827",74.4,0,0,"1,315",0.00,970,"2,195",44.2,584,803,72.7
4,1213,530,492,12.615385,33.9,"2,720",69.7,0,0,"1,497",0.00,954,"2,166",44.0,553,791,69.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3711,2324,342,505,15.781250,28.0,"1,934",60.4,375,757,"1,132",35.38,702,"1,758",39.9,361,541,66.7
3712,2324,335,507,15.843750,31.2,"2,204",68.9,299,871,"1,170",36.56,818,"1,935",42.3,358,517,69.2
3713,2324,369,565,16.142857,28.7,"2,414",69.0,394,854,"1,248",35.66,806,"1,918",42.0,654,906,72.2
3714,2324,271,495,15.967742,29.2,"1,719",55.5,298,613,911,29.39,613,"1,611",38.1,350,532,65.8
3715,2324,240,455,15.689655,28.3,"1,678",57.9,283,590,873,30.10,585,"1,571",37.2,355,489,72.6

In [8]:
X.PTS = X.PTS.apply(lambda x : x.replace(',',''))
X.DRebs = X.DRebs.apply(lambda x : x.replace(',',''))
X.REB = X.REB.apply(lambda x : x.replace(',',''))
X.FGM = X.FGM.apply(lambda x : x.replace(',',''))
X.FGA = X.FGA.apply(lambda x : x.replace(',',''))
X.FTA = X.FTA.apply(lambda x : x.replace(',',''))

In [9]:
X

,Years,AST,TO,TPG,3FG%,PTS,PPG,ORebs,DRebs,REB,RPG,FGM,FGA,FG%,FT,FTA,FT%
0,1213,565,368,9.435897,38.5,2932,75.2,0,0,1366,0.00,1093,2260,48.4,450,642,70.1
1,1213,580,461,12.459459,33.4,2558,69.1,0,0,1428,0.00,932,2151,43.3,445,669,66.5
2,1213,560,460,13.142857,37.4,2779,79.4,0,0,1341,0.00,962,2111,45.6,509,696,73.1
3,1213,560,468,12.315789,36.1,2827,74.4,0,0,1315,0.00,970,2195,44.2,584,803,72.7
4,1213,530,492,12.615385,33.9,2720,69.7,0,0,1497,0.00,954,2166,44.0,553,791,69.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3711,2324,342,505,15.781250,28.0,1934,60.4,375,757,1132,35.38,702,1758,39.9,361,541,66.7
3712,2324,335,507,15.843750,31.2,2204,68.9,299,871,1170,36.56,818,1935,42.3,358,517,69.2
3713,2324,369,565,16.142857,28.7,2414,69.0,394,854,1248,35.66,806,1918,42.0,654,906,72.2
3714,2324,271,495,15.967742,29.2,1719,55.5,298,613,911,29.39,613,1611,38.1,350,532,65.8
3715,2324,240,455,15.689655,28.3,1678,57.9,283,590,873,30.10,585,1571,37.2,355,489,72.6

In [18]:
safe = X.Years.unique()
[print(x)for x in safe]

1213
1314
1415
1516
1617
1718
1819
1920
2021
2122
2223
2324

[None, None, None, None, None, None, None, None, None, None, None, None]

In [26]:
top_150 = df.head(150)

,Years,AST,TO,TPG,3FG%,PTS,PPG,ORebs,DRebs,REB,RPG,FGM,FGA,FG%,FT,FTA,FT%
3437,2324,545,407,11.970588,37.1,3085.0,90.7,464,974.0,1438.0,39.94,1110.0,2327.0,47.7,641,831.0,77.1
3451,2324,546,420,11.666667,34.5,3080.0,85.6,527,995.0,1522.0,42.28,1077.0,2351.0,45.8,646,903.0,71.5
3385,2324,651,421,12.028571,36.6,3065.0,87.6,471,1062.0,1533.0,42.58,1124.0,2321.0,48.4,605,844.0,71.7
3395,2324,636,422,11.722222,38.3,3047.0,84.6,265,1048.0,1313.0,35.49,1113.0,2198.0,50.6,591,744.0,79.4
3471,2324,483,382,10.611111,34.9,3044.0,84.6,486,1068.0,1554.0,40.89,1104.0,2356.0,46.9,643,874.0,73.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3539,2324,456,407,12.333333,31.9,2470.0,74.8,347,794.0,1141.0,34.58,882.0,1935.0,45.6,497,691.0,71.9
3534,2324,426,377,11.424242,33.4,2469.0,74.8,312,787.0,1099.0,33.30,897.0,1901.0,47.2,465,701.0,66.3
3384,2324,495,316,9.575758,35.1,2465.0,74.7,326,879.0,1205.0,36.52,919.0,1969.0,46.7,386,546.0,70.7
3702,2324,422,530,16.060606,33.4,2463.0,74.6,393,791.0,1184.0,35.88,849.0,1890.0,44.9,562,796.0,70.6
3397,2324,544,366,12.200000,34.8,2463.0,82.1,287,776.0,1063.0,35.43,895.0,1836.0,48.7,363,502.0,72.3

In [27]:
empty_data = pd.DataFrame()

In [30]:
for year in safe:
    df = X[X['Years'] == year].sort_values(by=['PTS'], ascending=False)
    top_150 = df.head(150)
    empty_data = pd.concat([empty_data, top_150])

In [31]:
empty_data

,Years,AST,TO,TPG,3FG%,PTS,PPG,ORebs,DRebs,REB,RPG,FGM,FGA,FG%,FT,FTA,FT%
0,1213,565,368,9.435897,38.5,2932.0,75.2,0,0.0,1366.0,0.00,1093.0,2260.0,48.4,450,642.0,70.1
3,1213,560,468,12.315789,36.1,2827.0,74.4,0,0.0,1315.0,0.00,970.0,2195.0,44.2,584,803.0,72.7
2,1213,560,460,13.142857,37.4,2779.0,79.4,0,0.0,1341.0,0.00,962.0,2111.0,45.6,509,696.0,73.1
4,1213,530,492,12.615385,33.9,2720.0,69.7,0,0.0,1497.0,0.00,954.0,2166.0,44.0,553,791.0,69.9
1,1213,580,461,12.459459,33.4,2558.0,69.1,0,0.0,1428.0,0.00,932.0,2151.0,43.3,445,669.0,66.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3539,2324,456,407,12.333333,31.9,2470.0,74.8,347,794.0,1141.0,34.58,882.0,1935.0,45.6,497,691.0,71.9
3534,2324,426,377,11.424242,33.4,2469.0,74.8,312,787.0,1099.0,33.30,897.0,1901.0,47.2,465,701.0,66.3
3384,2324,495,316,9.575758,35.1,2465.0,74.7,326,879.0,1205.0,36.52,919.0,1969.0,46.7,386,546.0,70.7
3702,2324,422,530,16.060606,33.4,2463.0,74.6,393,791.0,1184.0,35.88,849.0,1890.0,44.9,562,796.0,70.6
3397,2324,544,366,12.200000,34.8,2463.0,82.1,287,776.0,1063.0,35.43,895.0,1836.0,48.7,363,502.0,72.3

In [24]:
df = X[X['Years'] == 2324].sort_values(by=['PTS'], ascending=False)

In [14]:
X.Years.value_counts()

Years
1819    351
2324    351
1920    350
1516    346
1415    345
2223    340
1718    337
2122    336
1617    333
2021    326
1314    296
1213      5
Name: count, dtype: int64

In [10]:
X['PTS'] = X['PTS'].astype(float)
X['DRebs'] = X['DRebs'].astype(float)
X['REB'] = X['REB'].astype(float)
X['FGM'] = X['FGM'].astype(float)
X['FGA'] = X['FGA'].astype(float)
X['FTA'] = X['FTA'].astype(float)

In [11]:
X.dtypes

Years      int64
AST        int64
TO         int64
TPG      float64
3FG%     float64
PTS      float64
PPG      float64
ORebs      int64
DRebs    float64
REB      float64
RPG      float64
FGM      float64
FGA      float64
FG%      float64
FT         int64
FTA      float64
FT%      float64
dtype: object

In [12]:
# Split the data using train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

In [13]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
lr_model = LogisticRegression(random_state=1)

# Fit the model using training data
lr_model.fit(X_train, y_train)

ValueError: Unknown label type: 'continuous'