In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [2]:
# read in files
super_data_df = pd.read_csv("Resources/madness_label.csv")

super_data_df

,Team,Madness,Years,AST,TO,Ratio,TPG,3FG%,PTS,PPG,ORebs,DRebs,REB,RPG,FGM_y,FGA_y,FT,FTA,FT%
0,VMI (Big South),0.0,13-14,491,371,1.32,10.600000,32.5,"3,089",88.3,503,949,"1,452",0.00,"1,088","2,441",600,842,71.3
1,UCLA (Pac-12),1.0,13-14,636,379,1.68,10.243243,38.0,"3,003",81.2,368,940,"1,308",0.00,"1,073","2,196",628,839,74.9
2,Louisiana Tech (CUSA),0.0,13-14,582,424,1.37,11.459459,32.9,"2,998",81.0,478,970,"1,448",0.00,"1,034","2,284",644,948,67.9
3,Louisville (),1.0,13-14,568,391,1.45,10.567568,36.8,"2,998",81.0,503,893,"1,396",0.00,"1,051","2,232",608,920,66.1
4,Kentucky (SEC),1.0,13-14,446,481,0.93,12.025000,33.2,"2,992",74.8,574,"1,034","1,608",0.00,"1,004","2,214",781,"1,146",68.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1645,Northern Ky. (Horizon),0.0,23-24,456,407,1.12,12.333333,31.9,"2,470",74.8,347,794,"1,141",34.58,882,"1,935",497,691,71.9
1646,Presbyterian (Big South),0.0,23-24,426,377,1.13,11.424242,33.4,"2,469",74.8,312,787,"1,099",33.30,897,"1,901",465,701,66.3
1647,Yale (Ivy League),1.0,23-24,495,316,1.57,9.575758,35.1,"2,465",74.7,326,879,"1,205",36.52,919,"1,969",386,546,70.7
1648,SFA (WAC),0.0,23-24,422,530,0.80,16.060606,33.4,"2,463",74.6,393,791,"1,184",35.88,849,"1,890",562,796,70.6
1649,Cornell (Ivy League),0.0,23-24,544,366,1.49,12.200000,34.8,"2,463",82.1,287,776,"1,063",35.43,895,"1,836",363,502,72.3

In [3]:
#seperate the x and y variables

y = super_data_df["Madness"]
X = super_data_df.drop(columns="Madness")

In [4]:
X = X.drop(columns="Team")

In [5]:
display(y)

0       0.0
1       1.0
2       0.0
3       1.0
4       1.0
       ...
1645    0.0
1646    0.0
1647    1.0
1648    0.0
1649    0.0
Name: Madness, Length: 1650, dtype: float64

In [6]:
display(X)

,Years,AST,TO,Ratio,TPG,3FG%,PTS,PPG,ORebs,DRebs,REB,RPG,FGM_y,FGA_y,FT,FTA,FT%
0,13-14,491,371,1.32,10.600000,32.5,"3,089",88.3,503,949,"1,452",0.00,"1,088","2,441",600,842,71.3
1,13-14,636,379,1.68,10.243243,38.0,"3,003",81.2,368,940,"1,308",0.00,"1,073","2,196",628,839,74.9
2,13-14,582,424,1.37,11.459459,32.9,"2,998",81.0,478,970,"1,448",0.00,"1,034","2,284",644,948,67.9
3,13-14,568,391,1.45,10.567568,36.8,"2,998",81.0,503,893,"1,396",0.00,"1,051","2,232",608,920,66.1
4,13-14,446,481,0.93,12.025000,33.2,"2,992",74.8,574,"1,034","1,608",0.00,"1,004","2,214",781,"1,146",68.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1645,23-24,456,407,1.12,12.333333,31.9,"2,470",74.8,347,794,"1,141",34.58,882,"1,935",497,691,71.9
1646,23-24,426,377,1.13,11.424242,33.4,"2,469",74.8,312,787,"1,099",33.30,897,"1,901",465,701,66.3
1647,23-24,495,316,1.57,9.575758,35.1,"2,465",74.7,326,879,"1,205",36.52,919,"1,969",386,546,70.7
1648,23-24,422,530,0.80,16.060606,33.4,"2,463",74.6,393,791,"1,184",35.88,849,"1,890",562,796,70.6
1649,23-24,544,366,1.49,12.200000,34.8,"2,463",82.1,287,776,"1,063",35.43,895,"1,836",363,502,72.3

In [7]:
X.PTS = X.PTS.apply(lambda x : x.replace(',',''))
X.DRebs = X.DRebs.apply(lambda x : x.replace(',',''))
X.REB = X.REB.apply(lambda x : x.replace(',',''))
X.FGM_y = X.FGM_y.apply(lambda x : x.replace(',',''))
X.FGA_y = X.FGA_y.apply(lambda x : x.replace(',',''))
X.FTA = X.FTA.apply(lambda x : x.replace(',',''))

In [8]:
X

,Years,AST,TO,Ratio,TPG,3FG%,PTS,PPG,ORebs,DRebs,REB,RPG,FGM_y,FGA_y,FT,FTA,FT%
0,13-14,491,371,1.32,10.600000,32.5,3089,88.3,503,949,1452,0.00,1088,2441,600,842,71.3
1,13-14,636,379,1.68,10.243243,38.0,3003,81.2,368,940,1308,0.00,1073,2196,628,839,74.9
2,13-14,582,424,1.37,11.459459,32.9,2998,81.0,478,970,1448,0.00,1034,2284,644,948,67.9
3,13-14,568,391,1.45,10.567568,36.8,2998,81.0,503,893,1396,0.00,1051,2232,608,920,66.1
4,13-14,446,481,0.93,12.025000,33.2,2992,74.8,574,1034,1608,0.00,1004,2214,781,1146,68.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1645,23-24,456,407,1.12,12.333333,31.9,2470,74.8,347,794,1141,34.58,882,1935,497,691,71.9
1646,23-24,426,377,1.13,11.424242,33.4,2469,74.8,312,787,1099,33.30,897,1901,465,701,66.3
1647,23-24,495,316,1.57,9.575758,35.1,2465,74.7,326,879,1205,36.52,919,1969,386,546,70.7
1648,23-24,422,530,0.80,16.060606,33.4,2463,74.6,393,791,1184,35.88,849,1890,562,796,70.6
1649,23-24,544,366,1.49,12.200000,34.8,2463,82.1,287,776,1063,35.43,895,1836,363,502,72.3

In [9]:
df = X[X['Years'] == 2324].sort_values(by=['PTS'], ascending=False)

In [10]:
X = X.drop(columns="Years")

In [11]:
X['PTS'] = X['PTS'].astype(float)
X['DRebs'] = X['DRebs'].astype(float)
X['REB'] = X['REB'].astype(float)
X['FGM_y'] = X['FGM_y'].astype(float)
X['FGA_y'] = X['FGA_y'].astype(float)
X['FTA'] = X['FTA'].astype(float)

In [12]:
X.dtypes

AST        int64
TO         int64
Ratio    float64
TPG      float64
3FG%     float64
PTS      float64
PPG      float64
ORebs      int64
DRebs    float64
REB      float64
RPG      float64
FGM_y    float64
FGA_y    float64
FT         int64
FTA      float64
FT%      float64
dtype: object

In [13]:
# Split the data using train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [14]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
lr_model = LogisticRegression(random_state=1)

# Fit the model using training data
lr_model.fit(X_train, y_train)

/Users/jaxontige/anaconda3/envs/dev/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=1)

In [15]:
# Make a prediction using the testing data
lr_prediction = lr_model.predict(X_test)

In [16]:
# Generate a confusion matrix for the model
cm_imbalanced = confusion_matrix(y_test, lr_prediction)
cm_imbalanced_df = pd.DataFrame(cm_imbalanced)
cm_imbalanced_df

     0   1
0  249  23
1   83  58

In [17]:
# Print the classification report for the model
print(classification_report(y_test, lr_prediction))

              precision    recall  f1-score   support

         0.0       0.75      0.92      0.82       272
         1.0       0.72      0.41      0.52       141

    accuracy                           0.74       413
   macro avg       0.73      0.66      0.67       413
weighted avg       0.74      0.74      0.72       413