In [1]:
#imports
import pandas as pd
import os
from pathlib import Path

In [2]:
#read csv files for assist and turnover ratio
atr2324 = pd.read_csv(
    "Resources/assist_and_turnover_ratio/2324_assist_and_turnover_ratio.csv")

atr2223 = pd.read_csv(
    "Resources/assist_and_turnover_ratio/2223_assist_and_turnover_ratio.csv")

atr2122 = pd.read_csv(
    "Resources/assist_and_turnover_ratio/2122_assist_and_turnover_ratio.csv")

atr2021 = pd.read_csv(
    "Resources/assist_and_turnover_ratio/2021_assist_and_turnover_ratio.csv")

atr1920 = pd.read_csv(
    "Resources/assist_and_turnover_ratio/1920_assist_and_turnover_ratio.csv")

atr1819 = pd.read_csv(
    "Resources/assist_and_turnover_ratio/1819_assist_and_turnover_ratio.csv")

atr1718 = pd.read_csv(
    "Resources/assist_and_turnover_ratio/1718_assist_and_turnover_ratio.csv")

atr1617 = pd.read_csv(
    "Resources/assist_and_turnover_ratio/1617_assist_and_turnover_ratio.csv")

atr1516 = pd.read_csv(
    "Resources/assist_and_turnover_ratio/1516_assist_and_turnover_ratio.csv")

atr1415 = pd.read_csv(
    "Resources/assist_and_turnover_ratio/1415_assist_and_turnover_ratio.csv")

atr1314 = pd.read_csv(
    "Resources/assist_and_turnover_ratio/1314_assist_and_turnover_ratio.csv")

atr1213 = pd.read_csv(
    "Resources/assist_and_turnover_ratio/1213_assist_and_turnover_ratio.csv")

atr1112 = pd.read_csv(
    "Resources/assist_and_turnover_ratio/1112_assist_and_turnover_ratio.csv")

atr1011 = pd.read_csv(
    "Resources/assist_and_turnover_ratio/1011_assist_and_turnover_ratio.csv")

atr0910 = pd.read_csv(
    "Resources/assist_and_turnover_ratio/0910_assist_and_turnover_ratio.csv")

atr0809 = pd.read_csv(
    "Resources/assist_and_turnover_ratio/0809_assist_and_turnover_ratio.csv")

atr0708 = pd.read_csv(
    "Resources/assist_and_turnover_ratio/0708_assist_and_turnover_ratio.csv")

atr0708c = pd.read_csv(
    "Resources/assist_and_turnover_ratio/0708_assist_and_turnover_ratio.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'Resources/assist_and_turnover_ratio/2324_assist_and_turnover_ratio.csv'

In [ ]:
#read csv files for scoring offence
sco2324 = pd.read_csv(
    "Resources/scoring_offence/2324_scoring_offence.csv")

sco2223 = pd.read_csv(
    "Resources/scoring_offence/2223_scoring_offence.csv")

sco2122 = pd.read_csv(
    "Resources/scoring_offence/2122_scoring_offence.csv")

sco2021 = pd.read_csv(
    "Resources/scoring_offence/2021_scoring_offence.csv")

sco1920 = pd.read_csv(
    "Resources/scoring_offence/1920_scoring_offence.csv")

sco1819 = pd.read_csv(
    "Resources/scoring_offence/1819_scoring_offence.csv")

sco1718 = pd.read_csv(
    "Resources/scoring_offence/1718_scoring_offence.csv")

sco1617 = pd.read_csv(
    "Resources/scoring_offence/1617_scoring_offence.csv")

sco1516 = pd.read_csv(
    "Resources/scoring_offence/1516_scoring_offence.csv")

sco1415 = pd.read_csv(
    "Resources/scoring_offence/1415_scoring_offence.csv")

sco1314 = pd.read_csv(
    "Resources/scoring_offence/1314_scoring_offence.csv")

sco1213 = pd.read_csv(
    "Resources/scoring_offence/1213_scoring_offence.csv")

sco1112 = pd.read_csv(
    "Resources/scoring_offence/1112_scoring_offence.csv")

sco1011 = pd.read_csv(
    "Resources/scoring_offence/1011_scoring_offence.csv")

sco0910 = pd.read_csv(
    "Resources/scoring_offence/0910_scoring_offence.csv")

sco0809 = pd.read_csv(
    "Resources/scoring_offence/0809_scoring_offence.csv")

sco0708 = pd.read_csv(
    "Resources/scoring_offence/0708_scoring_offence.csv")

sco0607 = pd.read_csv(
    "Resources/scoring_offence/0607_scoring_offence.csv")

sco0506 = pd.read_csv(
    "Resources/scoring_offence/0506_scoring_offence.csv")

sco0405 = pd.read_csv(
    "Resources/scoring_offence/0405_scoring_offence.csv")

sco0304 = pd.read_csv(
    "Resources/scoring_offence/0304_scoring_offence.csv")

sco0203 = pd.read_csv(
    "Resources/scoring_offence/0203_scoring_offence.csv")

sco0102 = pd.read_csv(
    "Resources/scoring_offence/0102_scoring_offence.csv")

In [ ]:
directoryatr = "C:/projects/Project-4-Group-2/NCAA-March-Madness/Resources/assist_and_turnover_ratio"
all_atr_dfs = []

# Loop through each file in the directory
for filename in os.listdir(directoryatr):
    if filename.endswith('.csv'):  # Assuming all files are CSV files
        filepath = os.path.join(directoryatr, filename)
        # Extract the four-digit code from the filename
        code = filename[:4]
        # Read CSV file and add a column for the code
        df = pd.read_csv(filepath)
        df['Years'] = code  # Add a new column for the code
        all_atr_dfs.append(df)

        # combine all dfs into one 
combined_df_atr = pd.concat(all_atr_dfs, ignore_index=True)

# combined_df_atr.to_csv("combined_assist_and_turnover_ratio.csv")

In [ ]:
directoryso = "C:/projects/Project-4-Group-2/NCAA-March-Madness/Resources/scoring_offence"
all_so_dfs = []

# Loop through each file in the directory
for filename in os.listdir(directoryso):
    if filename.endswith('.csv'):  # Assuming all files are CSV files
        filepath = os.path.join(directoryso, filename)
        # Extract the four-digit code from the filename
        code = filename[:4]
        # Read CSV file and add a column for the code
        df = pd.read_csv(filepath)
        df['Years'] = code  # Add a new column for the code
        all_so_dfs.append(df)

        # combine all dfs into one 
combined_df_so = pd.concat(all_so_dfs, ignore_index=True)

# combined_df_so.to_csv("combined_scoring_assist.csv")

In [ ]:
combined_df_atr

      Rank                     Team  GM    W-L  AST   TO  Ratio Years
0        1      UMBC (America East)  33   24-9  500  318   1.57  0708
1        2         Davidson (SoCon)  36   29-7  615  426   1.44  0708
2        3   Northwestern (Big Ten)  30   8-22  492  343   1.43  0708
3        4         Notre Dame (AAC)  33   25-8  608  429   1.42  0708
4        5           Texas (Big 12)  38   31-7  501  359   1.40  0708
...    ...                      ...  ..    ...  ...  ...    ...   ...
5833   347             Siena (MAAC)  32   4-28  342  505   0.68  2324
5834   348              VMI (SoCon)  32   4-28  335  507   0.66  2324
5835   349       Alabama A&M (SWAC)  35  12-23  369  565   0.65  2324
5836   350  Mississippi Val. (SWAC)  31   1-30  271  495   0.55  2324
5837   351        Coppin St. (MEAC)  29   2-27  240  455   0.53  2324

[5838 rows x 8 columns]

In [7]:
df = pd.read_csv("C:/projects/Project-4-Group-2/NCAA-March-Madness/Resources/combined_assist_and_turnover_ratio.csv")
df['TPG'] = df['TO']/df['GM']
df = df.drop('Unnamed: 0', axis=1)
df
# df.to_csv("combined_assist_and_turnover_ratio.csv")

,Unnamed: 0,Rank,Team,GM,W-L,AST,TO,Ratio,Years,TPG
0,0,1,UMBC (America East),33,24-9,500,318,1.57,708,9.636364
1,1,2,Davidson (SoCon),36,29-7,615,426,1.44,708,11.833333
2,2,3,Northwestern (Big Ten),30,8-22,492,343,1.43,708,11.433333
3,3,4,Notre Dame (AAC),33,25-8,608,429,1.42,708,13.000000
4,4,5,Texas (Big 12),38,31-7,501,359,1.40,708,9.447368
...,...,...,...,...,...,...,...,...,...,...
5833,5833,347,Siena (MAAC),32,4-28,342,505,0.68,2324,15.781250
5834,5834,348,VMI (SoCon),32,4-28,335,507,0.66,2324,15.843750
5835,5835,349,Alabama A&M (SWAC),35,12-23,369,565,0.65,2324,16.142857
5836,5836,350,Mississippi Val. (SWAC),31,1-30,271,495,0.55,2324,15.967742
5837,5837,351,Coppin St. (MEAC),29,2-27,240,455,0.53,2324,15.689655

In [12]:
df

,Rank,Team,GM,W-L,AST,TO,Ratio,Years,TPG
0,1,UMBC (America East),33,24-9,500,318,1.57,708,9.636364
1,2,Davidson (SoCon),36,29-7,615,426,1.44,708,11.833333
2,3,Northwestern (Big Ten),30,8-22,492,343,1.43,708,11.433333
3,4,Notre Dame (AAC),33,25-8,608,429,1.42,708,13.000000
4,5,Texas (Big 12),38,31-7,501,359,1.40,708,9.447368
...,...,...,...,...,...,...,...,...,...
5833,347,Siena (MAAC),32,4-28,342,505,0.68,2324,15.781250
5834,348,VMI (SoCon),32,4-28,335,507,0.66,2324,15.843750
5835,349,Alabama A&M (SWAC),35,12-23,369,565,0.65,2324,16.142857
5836,350,Mississippi Val. (SWAC),31,1-30,271,495,0.55,2324,15.967742
5837,351,Coppin St. (MEAC),29,2-27,240,455,0.53,2324,15.689655

In [13]:
# df.to_csv("combined_assist_and_turnover_ratio.csv")